@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>


<article>
    <p>Use this area to provide additional information.</p>
</article>

<div>Location : @Model.Location</div>